@import "variables";

* {
    box-sizing: border-box;    
}

body {
    max-width: 1600px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    padding-top: 30px;
}

p + p {
    padding-bottom: 30px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

.title {    
    text-transform: uppercase;
    font-weight: bold;

    &--fw--normal {
        font-weight: normal;
    }

    &--fg--white {
        color: white;
    }
}

.text {                     
    opacity: 0.7;
    line-height: calc(1em + 10px);

    &--opacity--off {                
        opacity: 1;
    }

    &--fg--accent-color {
        color: $accent-color;
    }

    &--fg--white {
        color: white;
    }

    &--upcase-bold {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.link {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {        
        color: $accent-color;
    }
}

.news-snippet {
    box-shadow: 0px 0px 15px 5px #dedede;    

    &__date {
        margin-right: 20px;
    }

    &__date,
    &__author {
        font-size: 12px;
        font-weight: bold;
        color: $accent-color;
    }

    &__main--margin {
        margin-top: 80px;
    }
    
    &--margin {
        margin-top: 40px;
    }
    
    &__info-block {
        padding: 40px 30px 40px;
    }
}

.page-review-block {
    display: flex;    
    box-shadow: 0px 0px 20px 20px #f3f4f4;    

    &--margin + &--margin {
        margin-top: 40px;
    }

    &__info {                        
        padding: 40px 0 40px 30px;        

        &-desc {
            margin-bottom: 45px;
        }
    }

    &__picture {
        display: flex;
        flex-basis: 100%;        
        padding-left: 30px;        

        &-img {
            align-self: center;
        }
    }
}
   
.page-section-portfolio {
    &__button {
        margin-top: 55px;
    }
    
    &__tab-bar {
        margin: 70px 0;
    }
}    

.service-block {
    margin-top: 30px;
    padding: 50px 45px;
    background-color: white;    
    box-shadow: 0px 0px 15px 5px #dedede;       
}

.work-process-stage {    
    border: 1px solid white;

    &--margin {
        margin: 80px 0;
    }
}

.comment {
    &__photo {
        margin: 80px 0 20px;
    }

    &__role {
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
        color: $accent-color;
    }

    &__name {
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        margin: 10px 0 20px;
    }

    &__client-rate {
        margin-top: 40px;

        &-icon {
            color: $accent-color;            
        }
    }
}

.main-slider--margin {
    margin-top: 315px;
    margin-bottom: 305px;
}

.client-comment-slider--margin {
    margin-bottom: 70px;
}