@import "grid";
@import "common";

@media (max-width: 767px) {
    .d-flex-xs {
        display: flex;
    }    

    .justify-content-center-xs {
        justify-content: center;
    }    

    .top-slider__slide1-info {
        margin: 0 5%;
    }

    .section__desc {
        text-align: center;
        margin: 0;
    }

    .testimonial__text {
        margin: 0;
    }

    .section-pages__desc {
        margin-top: 30px;  
        display: flex;        
        flex-direction: column;
        align-items: center;        

        > .text, .title {
            padding-left: 10px;
            padding-right: 10px;
        }
    }


    .service {                
        padding: 25px 45px;
    }

    .common-info {        
        flex-wrap: wrap-reverse;    
        justify-content: center;                            

        &__picture {   
            display: block;
            text-align: center;
            padding: 0;
        }

        &__info {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: 768px) {    
    .common-info__picture {
        justify-content: flex-end;
    }    

    .d-flex-md {
        display: flex;
    }    

    .section-pages__desc {
        align-self: center;        
        margin-left: -30px;
    }            

    @include define-col("md");
}

@media (max-width: 425px) {
    .common-info__picture {
        padding-top: 30px;        
    }
}
