@import "grid";
@import "common";

@media (max-width: 767px) {
    .section-pages__desc {
        margin-top: 30px;  
        display: flex;        
        flex-direction: column;
        align-items: center;        

        > .text, .title {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .main-slider--margin {
        margin-bottom: 100px;
    }

    .work-process-stage {    
        &--margin {
            margin: 40px 0;
        }
    }

    .service-block {        
        margin-top: 10px;
        padding: 25px 45px;
    }

    .page-review-block {        
        flex-wrap: wrap-reverse;    
        justify-content: center;                            

        &__picture {   
            display: block;
            text-align: center;
            padding: 0;
        }

        &__info {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .col-xs--display--flex {
        display: flex;
    }    

    .col-xs--justify--center {
        justify-content: center;
    }    
}

@media (min-width: 768px) {    
    .section-pages__desc {
        align-self: center;        
        margin-left: -30px;
    }
    
    .page-review-block {
        &__picture {
            justify-content: flex-end;            
        }
    }    

    @include define-col("md");

    .col-md--display--flex {
        display: flex;
    }    
}

@media (max-width: 425px) {
    .page-review-block {
        &__picture {
            padding-top: 30px;
        }
    }
}
