.swiper-container {    
    margin: 0 auto;    
    text-align: center;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {    
    background-color: white;
}

.swiper-slide {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    // row-gap: 40px;
}

// .swiper-slide__title {
//     color: white;    
// }

// .swiper-slide__text {
//     color: white;
// }