@import "variables";

.tab-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        padding: 15px;
        border-radius: 6px;
        border: 1px solid transparent;
        cursor: pointer;
    
        &--active {
            color: $accent-color;
            border: 1px solid $accent-color;
        }                    
    }
}

.tab-container {
    &__content {
        img {            
            width: 100%;            
        }

        img:first-child {
            margin-bottom: 30px;
        }

        &--hidden {
            display: none;
        }

        &--visible {
            display: block;
        }
    }
}