@import "variables";

.form-search {
    display: flex;
    position: absolute;    
    right: 0;
    left: 0;
    top: 20%;    
    border-radius: 18px;        
    padding: 25px;
    width: 33%;    
    min-width: 300px;    
    margin: 0 auto;    
    background-color: rgba(white, 0.95);
    z-index: 100;    

    &__text-field {                
        flex-grow: 1;
        background-color: transparent;
        border: none;
        line-height: 1.5;
        border-bottom: 1px solid black; 
        padding: 0;              
        outline: none;          
        font-size: $main-font-size;
        font-family: $main-font-family;
    }

    &__close-button,
    &__search-button {        
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 24px;        
    }    

    &__close-button:hover,
    &__search-button:hover {
        color: $accent-color;
    }

    // &__close-button {
    //     margin-left: 10px;        
    // }
}