@import "variables";

.form-search {
    display: none;
    background-color: $transparent-black;     
    border-radius: 18px;        
    padding: 15px;
    width: 33%;    
    min-width: 300px;    
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 150px;
    z-index: 100;

    &--visible {
        display: flex;
    }

    &__text-field {                
        flex-grow: 1;
        color: white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white; 
        padding: 0;              
        outline: none;  
    }

    &__close-button,
    &__search-button {        
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }    

    &__close-button {
        margin-left: 10px;        
    }
}