@use "sass:math";

@mixin define-col($size) {
    $n: 12;

    @for $i from 1 through $n {
        $width: math.div($i, $n) * 100;

        .col-#{$size}-#{$i} {
            flex: 0 0 #{$width}#{"%"};
            max-width: #{$width}#{"%"};
        }
    }
}

[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

@include define-col("xs");