@import "variables";

.testimonial {
    &__photo {
        margin: 80px 0 20px;
    }

    &__role {
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
        color: $accent-color;
        text-shadow: 1px 1px 1px black;
    }

    &__name {
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        margin: 10px 0 20px;
        text-shadow: 1px 1px 1px black;
    }

    &__text {
        margin-left: 25%;
        margin-right: 25%;
    }

    &__client-rate {
        margin-top: 40px;
    }

    &__client-rate-icon {
        color: $accent-color;
    }
}